<html>
 <body>
  <p>Hello <%= user %>!</p>
  <table>
   <tbody>
    <% var i; %>
    <% for (i = 0; i < list.length; i++) { %>
    <tr bgcolor="<%= i % 2 == 0 ? '#FFCCCC' : '#CCCCFF' %>">
     <td><%= i + 1 %></td>
     <td><%= list[i] %></td>
    </tr>
    <% } %>
   </tbody>
  </table>
 </body>
</html>