<html>
 <body>
<%
(let ((user "Erubis")
      (items '("<aaa>" "b&b" "\"ccc\""))
      (i 0))
 %>
  <p>Hello <%= user %>!</p>
  <table>
<%
  (for-each
   (lambda (item)
     (set! i (+ i 1))
 %>
   <tr bgcolor="<%= (if (= (modulo i 2) 0) "#FFCCCC" "#CCCCFF") %>">
    <td><%= i %></td>
    <td><%= item %></td>
   </tr>
<%
   ) ; lambda end
   items) ; for-each end
 %>
  </table>
<%
) ; let end
%>
 </body>
</html>