<html>
 <body>
  <p>Hello <%= argv[0] %>!</p>
  <table>
   <tbody>
    <% for (int i = 1; i < argc; i++) { %>
    <tr bgcolor="<%= i % 2 == 0 ? "#FFCCCC" : "#CCCCFF" %>">
      <td><%= i %></td>
      <td><%= argv[i] %></td>
    </tr>
    <% } %>
   </tbody>
  </table>
 </body>
</html>