<html>
<head>
  <title><%= camelized %></title>
  <%%= stylesheet_link_tag    "<%= name %>/application", media: "all" %>
  <%%= javascript_include_tag "<%= name %>/application" %>
  <%%= csrf_meta_tags %>
</head>
<body>

<%%= yield %>

</body>
</html>